html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: no-repeat linear-gradient(180deg, rgba(17,16,16,0.4) 0%, rgba(17,16,16,0.2) 30%, rgba(255,255,255,1) 50%);
  
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
}

img {
  width: 500px;
} 


#addTextWrapper,
#getUserWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	width: 1200px;
  padding: 50px;
  background-color: rgba(220,220,220,0.8);
  border-radius: 10px;
  box-shadow: 10px 10px 10px -5px rgba(17,16,16,0.67);
  margin: 25px;
}

#addTextWrapper h1 {
  align-self: flex-start;
}

textarea,
input {
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 75%;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 10px -5px rgba(17,16,16,0.67);
  margin-bottom: 20px;
  padding: 10px;
}

textarea {
  height: 750px;
}

textarea:focus,
input:focus {
  outline: none;
  background-color:rgba(40, 158, 87, 0.15);
  color: rgba(17,16,16,1);
}

button {
  background-color: #188444;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 10px 10px 10px -5px rgba(17,16,16,0.67);
  padding: 20px;
  font-size: 1.5rem;
  margin: 20px;
}

#headerWrapper {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	font-weight: bold;
}

#headerWrapper img {
	height: 15%;
	width: 15%;
}

#outerTextsWrapper {
	width: 100%;
}

#textsWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.titles {
	background: rgba(24,132,68,0.75);
	border: none;
	border-radius: 50%;
  box-shadow: 10px 10px 10px -5px rgba(17,16,16,0.67);
  padding: 20px;
	font-size: 1rem;
	font-weight: bold;
	color: #ffffff;
	height: 200px;
	width: 200px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#createNew {
	background: rgba(17,16,16,0.4);
}