html {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

body {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 70%);
	padding: 50px;
}

h1 {
	font-size: 2rem;
}

img {
  width: 500px;
}

#addTextWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

textarea {
	height: 750px;
	width: 750px;
	border: 0px solid black;
	border-radius: 5px;
	box-shadow: 10px 10px 10px -5px rgba(17,16,16,0.67);
	margin-bottom: 20px;
}

textarea:focus {
	border: 1px solid #188444;
}

button {
	background-color: #188444;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	box-shadow: 10px 10px 10px -5px rgba(17,16,16,0.67);
	padding: 20px;
	font-size: 1.5rem;
}