html {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

body {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	background: linear-gradient(180deg,  0%, rgba(255,255,255,1) 70%);
	padding: 50px;
}

h1 {
	font-size: 2rem;
}

img {
  width: 500px;
}

#app {
	width: 1200px;
}

#addTextWrapper,
#getUserWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 50px;
	background-color: rgba(220,220,220,0.8);
	border-radius: 10px;
	box-shadow: 10px 10px 10px -5px rgba(17,16,16,0.67);
	margin: 25px;
}

#addTextWrapper h1 {
	align-self: flex-start;
}

textarea,
input {
	font-size: 1.25rem;
	font-family: Arial, Helvetica, sans-serif;
	width: 75%;
	border: 0px solid black;
	border-radius: 10px;
	box-shadow: 10px 10px 10px -5px rgba(17,16,16,0.67);
	margin-bottom: 20px;
	padding: 10px;
}

textarea {
	height: 750px;
}

textarea:focus,
input:focus {
	outline: none;
	background-color:rgba(40, 158, 87, 0.15);
	color: rgba(17,16,16,1);
}

button {
	background-color: #188444;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	box-shadow: 10px 10px 10px -5px rgba(17,16,16,0.67);
	padding: 20px;
	font-size: 1.5rem;
	margin: 20px;
}